{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Patient with Clinical Appointments</h4>
                  <p class="card-category">List</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Cause</th>
                        <th>Diagnosed</th>
                        <th>Total Cost</th>
                        <th>Address</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            1
                          </td>
                          <td>
                            Dakota Rice
                          </td>
                          <td>
                            Stomach Ache
                          </td>
                          <td>
                            NO
                          </td>
                          <td class="text-primary">
                            $36,738
                          </td>
                          <td>
                            K
                          </td>
                          
                        </tr>
                        <tr>
                          <td>
                            2
                          </td>
                          <td>
                            Minerva Hooper
                          </td>
                          <td>
                            Stomach Ache
                          </td>
                          <td>
                            NO
                          </td>
                          <td class="text-primary">
                            $36,738
                          </td>
                          <td>
                            K
                          </td>
                        </tr>
                        <tr>
                          <td>
                            3
                          </td>
                          <td>
                            Sage Rodriguez
                          </td>
                          <td>
                            Stomach Ache
                          </td>
                          <td>
                            NO
                          </td>
                          <td class="text-primary">
                            $36,738
                          </td>
                          <td>
                            K
                          </td>
                        </tr>
                        <tr>
                          <td>
                            4
                          </td>
                          <td>
                            Philip Chaney
                          </td>
                          <td>
                            Stomach Ache
                          </td>
                          <td>
                            NO
                          </td>
                          <td class="text-primary">
                            $36,738
                          </td>
                          <td>
                            K
                          </td>
                        </tr>
                        <tr>
                          <td>
                            5
                          </td>
                          <td>
                            Doris Greene
                          </td>
                          <td>
                            Stomach Ache
                          </td>
                          <td>
                            NO
                          </td>
                          <td class="text-primary">
                            $36,738
                          </td>
                          <td>
                            K
                          </td>
                        </tr>
                        <tr>
                          <td>
                            6
                          </td>
                          <td>
                            Mason Porter
                          </td>
                          <td>
                            Stomach Ache
                          </td>
                          <td>
                            NO
                          </td>
                          <td class="text-primary">
                            $36,738
                          </td>
                          <td>
                            K
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-12">
              <div class="card card-plain">
                <div class="card-header card-header-primary">
                  <h4 class="card-title mt-0"> Table on Plain Background</h4>
                  <p class="card-category"> Here is a subtitle for this table</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class="">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Cause</th>
                        <th>Diagnosed</th>
                        <th>Total Cost</th>
                        <th>Address</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            1
                          </td>
                          <td>
                            Dakota Rice
                          </td>
                          <td>
                            Stomach Ache
                          </td>
                          <td>
                            NO
                          </td>
                          <td class="text-primary">
                            $36,738
                          </td>
                          <td>
                            K
                          </td>
                          
                        </tr>
                        <tr>
                          <td>
                            2
                          </td>
                          <td>
                            Minerva Hooper
                          </td>
                          <td>
                            Stomach Ache
                          </td>
                          <td>
                            NO
                          </td>
                          <td class="text-primary">
                            $36,738
                          </td>
                          <td>
                            K
                          </td>
                        </tr>
                        <tr>
                          <td>
                            3
                          </td>
                          <td>
                            Sage Rodriguez
                          </td>
                          <td>
                            Stomach Ache
                          </td>
                          <td>
                            NO
                          </td>
                          <td class="text-primary">
                            $36,738
                          </td>
                          <td>
                            K
                          </td>
                        </tr>
                        <tr>
                          <td>
                            4
                          </td>
                          <td>
                            Philip Chaney
                          </td>
                          <td>
                            Stomach Ache
                          </td>
                          <td>
                            NO
                          </td>
                          <td class="text-primary">
                            $36,738
                          </td>
                          <td>
                            K
                          </td>
                        </tr>
                        <tr>
                          <td>
                            5
                          </td>
                          <td>
                            Doris Greene
                          </td>
                          <td>
                            Stomach Ache
                          </td>
                          <td>
                            NO
                          </td>
                          <td class="text-primary">
                            $36,738
                          </td>
                          <td>
                            K
                          </td>
                        </tr>
                        <tr>
                          <td>
                            6
                          </td>
                          <td>
                            Mason Porter
                          </td>
                          <td>
                            Stomach Ache
                          </td>
                          <td>
                            NO
                          </td>
                          <td class="text-primary">
                            $36,738
                          </td>
                          <td>
                            K
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
